<nav>
  <ul>
    <li>
      <img class="logo" data-test="logo" src="assets/angulrLogo.svg" />
    </li>
    <li>
      <input class="start" data-test="search" placeholder="Search..." />
    </li>
    <li>
      <button data-test="becomeHost" >Become a host</button>
    </li>
    <li>
      <button data-test="help" placeholder="Search...">Help</button>
    </li>
    <li>
      <button data-test="signUp" placeholder="Search...">Sign Up</button>
    </li>
    <li>
      <button data-test="login" placeholder="Search...">Login</button>
    </li>
  </ul>
</nav>
