.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
//   border: 1px solid black;
  align-items: center;
  -webkit-box-shadow: 0px 5px 18px -7px #000000; 
  box-shadow: 0px 5px 18px -7px #000000;
  margin-bottom: 10vh;
  
  .--imgLogo {
    img{
        width: 6vh;
        margin-right: 6vh;    
    }
    
    display: flex;
    // border: 1px solid green;
    // align-items: flex-start;
      
  }
  .--firstEl {
    display: flex;
    justify-content: flex-start;
    // border: 1px solid red;

  }

  .--lastEl {
    flex-direction: row;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    flex-wrap: wrap;
    // border: 1px solid blue;

  }
}

li {
  list-style: none;
}
.logo {


}
