<nav>
  <div class="nav">
    <ul class="--firstEl">
      <li class="--imgLogo">
        <img  data-test="logo" src="assets/angulrLogo.svg" />
      </li>
      <li>
        <mat-form-field >
          <input 
            matInput
            class="start"
            data-test="search"
            placeholder="Search..."
            name="search"
          />
        </mat-form-field>
      </li>
    </ul>
    <ul class="--lastEl">
      <li>
        <button mat-button data-test="becomeHost">Become a host</button>
      </li>
      <li>
        <button mat-button data-test="help">
          Help
        </button>
      </li>
      <li>
        <button mat-button data-test="signUp">
          Sign Up
        </button>
      </li>
      <li>
        <button mat-button data-test="login">
          Login
        </button>
      </li>
    </ul>
  </div>
</nav>
