<div data-test="dialog">
  <p data-test="title">Title: {{ objModel.title }}</p>
  <p data-test="location">Location: {{ objModel.location }}</p>
  <p data-test="price">Price: {{ objModel.price }}</p>

  <input
    data-test="days"
    type="number"
    placeholder="Days expend"
    min="0"
    [(ngModel)]="day"
  />

  <p *ngIf="day <= 0" data-test="totalValue">Total: --</p>

  <ng-container *ngIf="day > 0" >
    <div style="display: flex; flex-direction: column; ">
      <p data-test="totalValue">
        Total: $ {{ calculateTotal(day, objModel.price) }}
      </p>
      <button mat-button data-test="bookBtn" (click)="closeDialog()">
        Book
      </button>
    </div>
  </ng-container>
</div>
